* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
    background-image: url("./imagens/bg");
    background-repeat: no-repeat;
    background-size: cover;
}

header { 
    background: linear-gradient(to right, rgb(235, 179, 235), rgb(160, 17, 160));
    width: 100vw;
    height: 10vh;
    position: fixed;
        top: 0px;
}

header :hover {
    background-color: brown;
}
